<div class="white container mt-5 d-flex justify-content-around">
    <div>
       <div class="white m-0 p-0 nav-link text-center"><h5 class="m-0 p-0">Digitalt CV</h5></div> 
        <i class=" CV-icon far fa-address-card"></i>
    </div>
   
    <div class="white mb-0 pb-0 nav-link d-flex align-items-end"><h1><a routerLink="/">Information om mig</a></h1></div>
    <div class="white mb-0 pb-0 nav-link d-flex align-items-end"><h1> <a routerLink="/cv">Mitt CV</a></h1></div>
    <div class="white mb-0 pb-0 nav-link d-flex align-items-end"> <h1> <a routerLink="/mail"><i class="far fa-envelope"></i></a></h1></div>

</div>

