.CV-icon{
    font-size:4.5rem ;
}
.nav-link{
    font-family: 'Open Sans Condensed', sans-serif;
}
.white{
    color: white;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
