<div class="container d-flex justify-content-center mt-5">
    <div>
        <img class="image me-5 mt-4" src="../../../assets/images/IMG_20200919_170221.jpg" alt="">
    </div>
    <div class="ms-5 mt-4 text-box">
        <p>
            <i class="fas fa-user-alt"></i> Personinformation
        </p>
        <p>
            Rebecka.pettersson.1993@gmail.com <br>
            Rebecka Pettersson <br>
            Stentorpsgatan 20B 72343 Västerås <br>
            0704333050
        </p>

        <p>
            <i class="fas fa-graduation-cap"></i> Utbildning
        </p>
        <p>
            Studerar första året som frontendutvecklare
            på EC utbildning påbörjad HT-2020
            Kurser avklarade hittills:
            Agila metoder,
            UX och grafisk design 1,
            HTML och CSS
            JavaScript 1 (Grundläggande JavaScript),
            JavaScript 2 (Vue),
            JavaScript 3 (pågående kurs, React och Angular)

            Kandidatexamen Uppsala universitet,
            Receptarieprogrammet 180 hp,

            Kurs Mälardalens högskola,
            Tyska 1 i Tyskland 30 hp
        </p>

        <p>
            <i class="fas fa-briefcase"></i> Erfarenhet
        </p>
        <p>
            Arbetat som receptarie, rörlig resurs
            på Apotek hjärtat ca 8 månader

            Arbetat som receptarie på Kronans apotek e-handel
            ca 1 år och 2 månader.

            Arbetat som receptarie på Svensk dos AB ca 1 år.
            (en del arbete i renrum med certifiering:
            ISO 9001:2015,
            ISO 14001:2015)

            Arbetat som personlig assistent hos
            Personlig assistans AB.

            Arbetar just nu i reception på klättercentret
            i Västerås sedan augusti 2020.
        </p>

        <p>
            <i class="fas fa-language"></i> Språkkunskaper
        </p>
        <p class="mb-5">
            Svenska modersmål,
            Engelska mycket goda kunskaper i tal och skrift
            Tyska, grundläggande kunskaper 
        </p>


    </div>


</div>