<div class="container d-flex justify-content-center mt-5">
    <div>
        <img class="image me-5 mt-4" src="../../../assets/images/IMG_20200919_170221.jpg" alt="">
    </div>
    <div class="ms-5 mt-4 text-box">
        <p>Jag heter Rebecka Pettersson och är 28 år gammal. 
            Jag studerar till frontendutvecklare 
            på EC utbildning i Västerås och har snart gått 
            ut år ett. 
            <br><br>
            Jag har tidigare arbetat som farmaceut några år,
            men kände snabbt att det inte var något för mig,
            och upptäckte webbutveckling som är väldigt 
            intressant och roligt och något som passar mig 
            mycket bättre. hittills av de JavaScript ramverk 
            vi har gått igenom under utbildningen tycker jag 
            bäst om React. 
            <br><br>
            Jag bor i Västerås tillsammans med min pojkvän. 
            På fritiden sysslar jag med klättring och jobbar 
            extra på klättergymmet under tiden jag studerar. 
            </p>
    </div>


</div>